In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

"""
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and
manipulation of the data. 
It provides a means for storing and organizing large amounts of information in a consistent and structured manner.
"""

"""
SQL Databases:
SQL databases are based on the relational model, which organizes data into tables consisting of rows and columns. 
These databases use SQL as the standard language for querying and manipulating data.

Key characteristics of SQL databases include:
Data Structure: SQL databases have a predefined schema that defines the structure and relationships of the data.
ACID Compliance: ACID (Atomicity, Consistency, Isolation, Durability) properties ensure data integrity and reliability.
Relational Integrity: SQL databases enforce relational integrity constraints, such as primary key and foreign key relationships.
Scalability: SQL databases can handle large datasets and complex queries efficiently.
Examples: MySQL, Oracle, Microsoft SQL Server, PostgreSQL.
"""

"""
NoSQL Databases:
NoSQL databases are designed to handle unstructured, semi-structured, and rapidly changing data. 
They do not rely on a fixed schema and provide flexibility in data modeling. 

Key characteristics of NoSQL databases include:
Flexible Data Structure: NoSQL databases can store data in various formats like key-value pairs, documents, wide-column stores, or graph databases.
Horizontal Scalability: NoSQL databases are designed for distributed computing and can scale horizontally to handle large amounts of data and traffic.
High Performance: NoSQL databases prioritize performance over strict consistency, allowing for faster data retrieval and processing.
Schema-less Design: NoSQL databases do not enforce a rigid schema, enabling agility and accommodating evolving data requirements.
Examples: MongoDB, Cassandra, Redis, Amazon DynamoDB.
"""

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

"""
DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database and its objects.
DDL statements are responsible for creating, altering, and dropping database objects such as tables, views, indexes, and constraints.
"""

"""
CREATE:
The CREATE statement is used to create new database objects, such as tables.
CREATE TABLE Customers (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100)
);
"""

"""
DROP:
The DROP statement is used to remove database objects, such as table.
DROP TABLE Customers;
"""

"""
ALTER:
The ALTER statement is used to modify the structure of an existing database object.
ALTER TABLE Customers
ADD Address VARCHAR(200);
"""

"""
TRUNCATE:
The TRUNCATE statement is used to remove all rows from a table while keeping its structure intact.
TRUNCATE TABLE Customers;
"""

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

"""
DML stands for Data Manipulation Language, which is a subset of SQL used to retrieve, insert, update, and delete data in a database.
DML statements allow you to interact with the data stored within the database tables
"""

"""
INSERT:
The INSERT statement is used to insert new rows of data into a table. 
INSERT INTO Customers (ID, Name, Email) VALUES (1, 'John Doe', 'john.doe@example.com');
"""

"""
UPDATE:
The UPDATE statement is used to modify existing data within a table.
UPDATE Customers SET Email = 'johndoe@example.com' WHERE ID = 1;
"""

"""
DELETE:
The DELETE statement is used to remove one or more rows from a table based on specified conditions.
DELETE FROM Customers WHERE ID = 1;
"""

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

"""
DQL stands for Data Query Language, which is a subset of SQL used to retrieve and query data from a database.
The most commonly used DQL statement is SELECT, which allows you to retrieve data from one or more tables based on specified conditions. 
"""

"""
SELECT:
The SELECT statement is used to retrieve data from a database table. It allows you to specify the columns you want to retrieve,
the table from which to retrieve data, and optional conditions to filter the data. 

SELECT column1, column2, ...
FROM table_name
WHERE condition;
"""

In [ ]:
#Q5. Explain Primary Key and Foreign Key.

"""
Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row or record in that table.
It ensures that each row in the table has a unique identifier, which helps in identifying and referencing individual records. 
"""


"""
Foreign Key:
A foreign key is a column or a set of columns in a database table that establishes a link or relationship between two tables. 
It creates a connection between the primary key of one table and a corresponding column (often referred to as the referencing key) in another table. 
"""

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

"""
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
)
cursor = mydb.cursor()
cursor.execute("SELECT * FROM your_table")
mydb.close()
"""

"""
The cursor() method creates a cursor object that provides a way to interact with the database. 
It allows you to execute SQL statements, fetch data, and perform other database operations.
"""


"""
The execute() method is used to execute an SQL query or statement. 
It takes the SQL query as an argument and sends it to the database for execution.
"""

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

"""
It's important to note that not all clauses are mandatory in every SQL query, and their order can vary depending on the specific 
requirements and the logical flow of the query. 

FROM: Specifies the table or tables from which the data will be retrieved.
JOIN: If multiple tables are involved, the JOIN clause is used to combine records from different tables based on specified conditions.
WHERE: Filters the rows based on specified conditions to retrieve only the relevant data.
GROUP BY: Groups the result set by one or more columns.
HAVING: Applies conditions to the grouped rows, filtering them further.
SELECT: Specifies the columns to be retrieved from the result set.
DISTINCT: Removes duplicate rows from the result set if specified.
ORDER BY: Sorts the result set based on specified columns in ascending or descending order.
LIMIT/OFFSET: Limits the number of rows returned or skips a specified number of rows from the beginning of the result set.
"""